<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseSource" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=translationshistory;Integrated Security=True" />
  </connectionStrings>
</configuration>